<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Anti-Fraud Tool</title>
  </head>
  <body>

  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand"><b>Anti-Fraud Tool</b></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
   <div class="alert alert-primary" role="alert">
  Welcome to Fraud detaction Tool
</div>

 <!-- Form is start -->
<div class="container">
  <form action='/verify' method='get'>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Copy your Paytm message and paste here to check Your message is True or Wrong!!!</label>

    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 187px;"></textarea>
  </div>
    <!-- Button -->
    <button type="submit" class="btn btn-outline-primary">Analyse</button>
</form>
    <div class="mt-3">
           <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">This Tool is Private.</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning"> We are not with the Paytm Company but We have Published this tool on the Principle of Minimizing Fraud.</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">The Tool is 100% Free.</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">I Guarantee We don't Store Any Data.</a>
</div>
       </div>
</div>

   <!-- Form is End -->


   <footer class="blog-footer container fixed-bottom">
       <div class="float my-2"><center>© 2020 Anti-Fraud Tool Develop By <a href="https://www.instagram.com/iamjaykakadiya/">Jay Kakadiya</a></center></div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>