<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Analysed</title>
  </head>
  <body>

   <nav class="navbar navbar-light bg-light">
       <a class="navbar-brand"><b>Anti-Fraud Tool</b></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
   <div class="alert alert-success" role="alert">
  Your message Analyzed Succesfully!!!
</div>
   <div class="container">
       <div class="mt-2">
    <h1>Your message Analyzed Succesfully!!!&nbsp; &nbsp;<svg style="bgcolor=blue;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
    </svg></h1></div>

       <p>Your Message is  </p>
       <div class="mt-3">
       <h3><span class="border border-primary">&nbsp; &nbsp;{{  djtext  }} &nbsp;&nbsp;</span></h3>
       </div>
       <div class="mt-3">
       <div class=" mb-0 bg-success text-white"><center><h1>{{ purpose }}</h1></center></div>
       <div class=" mb-0 bg-danger text-white"><h1><center> {{ f_msg }} </center></h1></div>
       </div>
           <div class="mt-3">
           <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">This Tool is Private.</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning"> We are not with the Paytm Company but We have Published this tool on the Principle of Minimizing Fraud.</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">The Tool is 100% Free.</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">I Guarantee We don't Store Any Data.</a>
</div>
       </div>

       <footer class="blog-footer container fixed-bottom">
       <div class="float my-2"><center>© 2020 Anti-Fraud Tool Develop By <a href="https://www.instagram.com/iamjaykakadiya/">Jay Kakadiya</a></center></div>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </div>
  </body>
</html>